/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }


body{
    background-color: black;
    font-family: 'Open Sans';
}

.host_ip{
    color: white;
    font-size: 26px;
    background: gray;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.host_ip p:last-child {
    font-size: 12px;
    color: #FF9800;
}

.item_optie {
    width: 100%;
    height: 23px;
    text-align: center;
    color: white;
}

.selected {
    width: 100%;
    height: 31px;
    font-size: 26px;
}

.center_div{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}